.photoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.photoContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: var(--black-color);
  justify-content: center;
}

.photoHeading {
  letter-spacing: -1.28px;
  font: 700 64px/1 Tilda Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.photosDescription {
  margin: 48px 0;
  font: 300 24px/28px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
  width: 700px;
}

.photoGrid {
  display: flex;
  width: 100%;
  gap: 40px 55px;
  justify-content: space-between;
  margin: 48px 0;
}

.photoCard {
  display: flex;
  min-width: 240px;
  flex-direction: column;
  align-items: flex-start;
  width: 297px;
}

.photoColorPalette {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.colorDot {
  border-radius: 50%;
  width: 54px;
  height: 54px;
}

.cardImage {
  object-fit: contain;
  width: 100%;
  border-radius: 8px;
  margin: 16px 0;
}

.cardTitle {
  color: var(--black-color);
  font: 300 24px/28px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
}

.guidelines {
  color: var(--black-color);
  font: 300 24px/28px Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
  width: 700px;
}

@media (max-width: 991px) {
  .content {
    max-width: 100%;
  }

  .heading {
    font-size: 40px;
  }

  .photoGrid {
    flex-direction: column;
    margin: 40px 0;
  }

  .photoCard {
    width: 100%;
  }
}
