.titleWrapper {
  display: flex;
  flex-direction: column;
  color: var(--black-color);
  justify-content: center;
  margin-top: 32px;
}

.mainTitleStyleGuide {
  align-self: stretch;
  gap: 10px;
  letter-spacing: -1.92px;
  padding: 10px;
  font: 700 96px/1 Tilda Sans, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
}

.subtitleStyleGuide {
  align-self: stretch;
  margin-top: 16px;
  gap: 10px;
  text-align: center;
  padding: 10px;
  font: 500 32px/37px Tilda Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

.highlightedTextStyleGuide {
  font-family: Tilda Sans, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.96px;
}

.descriptionStyleGuide {
  font: 300 32px/1 Tilda Sans, -apple-system, Roboto, Helvetica, sans-serif;
  margin-top: 16px;
}

.articleBreadcrumbs {
  margin-left: 40px;
}
