.footer {
  background-color: var(--dark-blue-color);
  display: flex;
  gap: 40px 256px;
  justify-content: flex-start;
  padding: 64px 40px;
  width: 100%;
}

@media (max-width: 991px) {
  .footer {
    padding: 0 20px;
  }
}

.contentWrapper {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  min-height: 428px;
  flex-direction: column;
  justify-content: space-between;
  width: 794px;
  margin: auto 0;
}

@media (max-width: 991px) {
  .contentWrapper {
    max-width: 100%;
  }
}

.mainContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: var(--white-color);
  justify-content: center;
}

@media (max-width: 991px) {
  .mainContent {
    max-width: 100%;
  }
}

.headline {
  letter-spacing: -1.28px;
  font: 700 64px/64px Tilda Sans, -apple-system, Roboto, Helvetica, sans-serif;
  margin: 0px;
}

@media (max-width: 991px) {
  .headline {
    max-width: 100%;
    font-size: 40px;
    line-height: 44px;
    margin: 0px;
  }
}

.ctaButton {
  align-self: flex-start;
  border-radius: 60px;
  background-color: var(--orange-color);
  margin-top: 40px;
  gap: 10px;
  overflow: hidden;
  white-space: nowrap;
  padding: 16px 32px;
  font: 500 20px/1 Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
  color: var(--white-color);
}

@media (max-width: 991px) {
  .ctaButton {
    padding: 16px 20px;
  }
}

.bottomSection {
  display: flex;
  margin-top: 97px;
  width: 408px;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 991px) {
  .bottomSection {
    margin-top: 40px;
  }
}

.socialMedia {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-start;
}

.socialIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  align-self: stretch;
  margin: auto 0;
}

.copyright {
  color: var(--white-color);
  margin-top: 48px;
  font: 300 24px/1 Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
  margin-bottom: 0px;
}

@media (max-width: 991px) {
  .copyright {
    margin-top: 40px;
  }
}

.sideContent {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  min-height: 428px;
  flex-direction: column;
  white-space: nowrap;
  justify-content: space-between;
  width: 407px;
  height: auto;
}

@media (max-width: 991px) {
  .sideContent {
    white-space: initial;
  }
}

.menu {
  display: flex;
  width: 121px;
  max-width: 100%;
  flex-direction: column;
  color: var(--white-color);
  justify-content: center;
  font: 300 24px/1 Suisse Intl, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .menu {
    white-space: initial;
  }
}

.menuItem {
  color: rgba(255, 254, 252, 1);
  text-decoration: none;
}

.menuItemActive {
  font-weight: 600;
}

.menuItem:not(:first-child) {
  margin-top: 32px;
}

.logo {
  color: var(--white-color);
  margin-top: 232px;
  font: 800 40px Tilda Sans, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .logo {
    margin-top: 40px;
  }
}
